<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ZMM_IFZ_SIP_SAP">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='ZMM_IFZ_SIP_SAP'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport authenticationScheme="Basic" />
                </binding>
                <binding name="ZMM_IFZ_SIP_SAP_soap12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='ZMM_IFZ_SIP_SAP_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding />
                    <httpTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://sapqascloud.satus.lan:8000/sap/bc/srt/rfc/sap/zinterfaces_sip_sap/300/zinterfaces_sip_sap/zmm_ifz_sip_sap"
                binding="customBinding" bindingConfiguration="ZMM_IFZ_SIP_SAP_soap12"
                contract="ServiceReference1.ZINTERFACES_SIP_SAP" name="ZMM_IFZ_SIP_SAP_soap12" />
        </client>
    </system.serviceModel>
</configuration>